@using HomeWorkWithUsers.ViewModels
@model ListViewModel<TaskModel>


@{
    ViewData["Title"] = "Страница Задач";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"] </h2>
</div>
<div>
    <div class="d-inline float-start">
        <p>
            @Html.ActionLink("Добавить новую задачу", "AddTask")
        </p>
    </div>
    <div class="d-inline float-end">
        <p>Страница №@(Model.page+1)</p>
    </div>
</div>

<table class="table">
    <tr>
        <th>Идентификатор</th>
        <th>Заголовок задачи</th>
        <th>Исполнитель задачи </th>
        <th>Описание задачи</th>
        <th>Другое</th>
    </tr>
    @{int i = 1;

        foreach (var item in Model.List)
        {
            <tr>

                <td>
                    @Html.DisplayFor(usersItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.ContractorId)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.Description)
                </td>

                <td>@Html.ActionLink("Редактировать", "EditTask", item)</td>

            </tr>
            i++;
        }

    }
</table>

<div class="text-center">
    @if (Model.canBack)
    {

        <a class="" href="/Tasks/?page=@(Model.page - 1)">
            <button type="submit" class="btn btn-primary">Назад</button>
        </a>
    }
    @if (Model.canForward)
    {
        <a class="" href="/Tasks/?page=@(Model.page + 1)">
            <button type="submit" class="btn btn-primary">Вперед</button></a>
     }
</div>