@using HomeWorkWithUsers.ViewModels
@using HomeWorkWithUsers.Data.Domain
@model ListViewModel<User>


@{
    ViewData["Title"] = "Страница пользователей";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"] </h2>
</div>
<div>
    <div class="d-inline float-start">
        <p>
            @Html.ActionLink("Добавить нового пользователя", "AddUser")
        </p>
    </div>
    <div class="d-inline float-end">
        <p>Страница №@(Model.page+1)</p>
    </div>
</div>

<table class="table">
    <tr>
        <th>Идентификатор</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Емайл</th>
        <th>Другое</th>
    </tr>
    @{int i = 1;

        foreach (var item in Model.List)
        {
        <tr>

            <td>
                @Html.DisplayFor(usersItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(usersItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(usersItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(usersItem => item.Email)
            </td>

            <td>@Html.ActionLink("Редактировать", "EditUser", item) @Html.ActionLink("Удалить", "DeleteUser", item, @Model.page)</td>

        </tr>
         
        }

    }
</table>

<div class="text-center">
    @if (Model.canBack)
    {

        <a class="" href="/Users/?page=@(Model.page - 1)">
            <button type="submit" class="btn btn-primary">Назад</button>
        </a>
    }
    @if (Model.canForward)
    {
        <a class="" href="/Users/?page=@(Model.page + 1)">
            <button type="submit" class="btn btn-primary">Вперед</button></a>
     }
</div>