@using HomeWorkWithUsers.ViewModels
@model ListViewModel<UserModel>


@{
    ViewData["Title"] = "Страница пользователей";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"] </h2>
</div>
<div>
    <div class="d-inline float-start">
        <p>
            @Html.ActionLink("Добавить нового пользователя", "AddUser")
        </p>
    </div>
    <div class="d-inline float-end">
        <p>Страница №@(Model.page+1) из 10</p>
    </div>
</div>

<table class="table">
    <tr>
        <th>Идентификатор</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Емайл</th>
        <th>Другое</th>
    </tr>
    @{int i = 1;

        foreach (var item in Model.List)
        {
            <tr>

                <td>
                    @Html.DisplayFor(usersItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.surName)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(usersItem => item.email)
                </td>

                <td>@Html.ActionLink("Редактировать", "EditUser", item)</td>

            </tr>
            i++;
        }

    }
</table>

<div class="text-center">
    @if (Model.canBack)
    {

        <a class="" href="/Users/?page=@(Model.page - 1)">
            <button type="submit" class="btn btn-primary">Назад</button>
        </a>
    }
    @if (Model.canForward)
    {
        <a class="" href="/Users/?page=@(Model.page + 1)">
            <button type="submit" class="btn btn-primary">Вперед</button></a>
     }
</div>